.comment-timestamp {
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.comment {
    border-left: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.comment-user {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.comment-content {
    color: #111;
    margin-bottom: 10px;
}

.reply-button {
    font-family: Arial, sans-serif;
    font-size: 10px;
    /*font-weight: bold;*/
    /*!* Add more font styles as needed *!*/
}

.comment-input textarea {
    width: 100%; /* Set the width of the input box */
    padding: 5px; /* Adjust the padding */
    resize: vertical; /* Allow vertical resizing */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Add border-radius for rounded corners */
    font-size: 14px; /* Adjust the font size */
}


.comment-input textarea:focus {
    outline: none; /* Remove the default outline */
    border-color: #666; /* Change the border color when focused */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a box shadow when focused */
}



