.comment-timestamp {
    color: #888;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.comment {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
}

.comment-user {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.comment-content {
    color: #111;
    margin-bottom: 10px;
}

